.nav-button {
    font-size: 15em;
    color: white;
    font-family: Georgia;
    text-align: center;
}

.nav-button:hover {
    font-size: 20em;
}

.nav-table {
    display: inline-flex;
    align-items: center;
    width: 2000px;
}

.home-td {
    height: 400px;
    text-align: center;
    width: 2000px;
}

@keyframes button-hover {
    0% {
        font-size: 10em;
    }
    100% {
        font-size: 15em;
    }
}
