#title {
    font-size: 8em;
    font-family: Georgia;
    color: lightgray;
}

.action-button {
    margin-top: 20px;
    font-size: 1.5em;
    width: 260px;
    display: inline-block;
    margin: 15px;
}

.selected-tile {
    animation: pulse 1s ease infinite;
}

.anchor-point {
    border-radius: 15px;
}

.board-completion {
    font-size: 1.5em;
    display: inline-flex;
    min-height: 50px;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
    }
}
