.minesweeper.board-completion {
    font-size: 1.5em;
    display: inline-flex;
    min-height: 50px;
    color: rgb(0, 255, 85);
}
.minesweeper#title {
    font-size: 8em;
    color: rgb(0, 255, 85);
}

.minesweeper.action-button {
    margin-top: 20px;
    font-size: 1.5em;
    width: 300px;
    display: inline-block;
    margin: 15px;
    border-radius: 4px;
    border-color: rgb(0, 255, 85);
    background-color: transparent;
    color: rgb(0, 255, 85);
    font-weight: bold;
}

.minesweeper.board {
    border-color: rgb(0, 255, 85);
    border-width: 5px;
    border-style: solid;
    margin-bottom: 10px;
    padding: 10px;
}